
<title>Customer</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      padding: 20px;
    }
    
    .container {
      max-width: 400px;
      margin: 2rem auto;
      background-color: #fff;
      padding: 30px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    h2 {
      text-align: center;
      margin-bottom: 20px;
    }
    
    .customer-details {
      margin-bottom: 20px;
    }
    
    .customer-details label {
      font-weight: bold;
    }
    .btn {
     margin: 1rem;
     background-color: #4CAF50; /* Green */
     border: none;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
   }
  </style>

<%- include("partials/header"); -%>
  <div class="container">
    <h2>Customer Details</h2>
    <div class="customer-details">
      <label for="first-name">First Name:</label>
      <span id="first-name"><%= first_name %></span>
    </div>
    <div class="customer-details">
      <label for="last-name">Last Name:</label>
      <span id="last-name"><%= last_name %></span>
    </div>
    <div class="customer-details">
      <label for="address">Address:</label>
      <span id="address"><%=  address %></span>
    </div>
    <div class="customer-details">
      <label for="email">Email:</label>
      <span id="email"><%= email %></span>
    </div>
    <div class="customer-details">
      <label for="account_no">Account Number:</label>
      <span id="account_no"><%= account %></span>
    </div>
    <div class="customer-details">
      <label for="balance">Account Balance:</label>
      <span id="balance"><%= balance %></span>
    </div>
    
  </div>
  <div class="options" style="margin-left: 20rem;margin-top: 5rem;">
  <button class="btn">Get Loan</button>
  <button class="btn"><a href="/payment">Make payment</a></button>
  <button class="btn"><a href="/transaction">View Transaction details</a></button>
  </div>
<%- include("partials/footer"); -%>
