
  <title>Transaction Details</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      border: 1px solid black;
      padding: 8px;
    }

    th {
      background-color: #f2f2f2;
    }
  </style>

<%- include("partials/header"); -%>
  <h1>Transaction Details</h1>
  <table>
    <tr>
      <th>Transaction ID</th>
      <th>Sender account_no</th>
      <th>Receiver account_no</th>
      <th>Amount</th>
    </tr>
    <% transactions.forEach((transaction) => { %>
        <tr>
          <td><%= transaction.transaction_id %></td>
          <td><%= transaction.sender %></td>
          <td><%= transaction.receiver %></td>
          <td><%= transaction.amount %></td>
        </tr>
      <% }); %>
  </table>
  <%- include("partials/footer"); -%>